{#
/**
 * @file
 * Default theme implementation for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - url: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links list. If 'url' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'url' is supplied.
 * - languages: languages to be output.
 *
 * @see template_preprocess_links()
 * @see bootstrap_languages_preprocess_links__lang_drop_bootstrap_block()
 *
 * @ingroup themeable
 */
#}
{%- if languages -%}
  <div {{ attributes.addClass('btn-group') }}>
    <button class="btn btn-default btn-{{ icon }} dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">

      <span class="lang-{{ icon }}" lang="{{ current_language }}"></span>

      {% if is_bootstrap %}
        <span class="caret"></span>
      {% endif %}
    </button>

    <ul class="dropdown-menu" role="menu">
      {%- for key, url in languages -%}
        <li>
          <a href="{{ url.toString }}">
            <span class="lang-{{ icon }} {{ icon_only ? '' : 'lang-lbl'}}"
                  lang="{{ key }}"></span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
